# Conector Kafka para Python
kafka-python

# Procesamiento y análisis de datos
pandas
numpy

sqlalchemy
psycopg2-binary


# Machine Learning
scikit-learn
tensorflow

# Visualización
matplotlib
streamlit

# Cliente InfluxDB (para futuros almacenamientos de series)
influxdb-client

# Testing y calidad de código
pytest
flake8

# Streaming con Spark (si decides retomar PySpark en otro entorno)
pyspark
