# Requerimientos principales para IoT Anomaly Detection Pipeline

# Procesamiento de datos
pyspark==3.3.1
pandas==2.2.2
numpy==1.26.4

# Conexión con PostgreSQL
psycopg2-binary==2.9.9
SQLAlchemy==2.0.29

# Manejo de entorno y configuración
python-dotenv==1.0.1

# Simulación y generación de datos
faker==24.9.0

# Kafka client para Python
kafka-python==2.0.2
